        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
        
        /* Base */
        body {
            margin: 0;
            font-family: 'Noto Sans', sans-serif;
            background-color: #201b2c;
            color: #f0ffffde;
        }

        body * {
            box-sizing: border-box;
        }

        a {
            color: #00ff88;
            text-decoration: none;
            transition: color 0.3s;
        }

        a:hover {
            color: #77ffc0;
        }

        /* Modal de Mensagem (substitui alert) */
        .message-modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }

        .message-box {
            background-color: #2f2841;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
            text-align: center;
            color: #f0ffffde;
            position: relative;
        }

        .message-box h3 {
            margin-bottom: 15px;
            color: #00ff88;
        }

        .message-box p {
            margin-bottom: 20px;
        }

        .message-box button {
            padding: 10px 20px;
            background-color: #00ff88;
            color: #2f2841;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        .message-box button:hover {
            background-color: #77ffc0;
        }

        /* Login e Cadastro */
        .login-register-view, .bookstore-view, .book-details-view, .donate-view {
            padding: 20px;
            min-height: 100vh;
            display: none;
        }
        
        .login-register-view {
            display: flex; /* Visível por padrão */
            width: 100vw;
            height: 100vh;
            background-color: #201b2c;
            justify-content: center;
            align-items: center;
        }

        .left-side {
            width: 50vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .left-side > h1 {
            color: #77ffc0;
            text-align: center;
        }

        .left-side-img {
            width: 35vw;
        }

        .right-side {
            width: 50vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card-form {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px 35px;
            background: #2f2841;
            border-radius: 20px;
            box-shadow: 0px 10px 40px #00000056;
        }

        .card-form > h1 {
            color: #00ff88;
            font-weight: 800;
            margin: 0;
            margin-bottom: 20px;
        }

        .textfield {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 10px 0px;
        }

        .textfield > input, .textfield > textarea {
            width: 100%;
            border: none;
            border-radius: 10px;
            padding: 15px;
            background: #514869;
            color: #f0ffffde;
            font-size: 12pt;
            box-shadow: 0px 10px 40px #00000056;
            outline: none;
            resize: vertical;
        }

        .textfield > label {
            color: #f0ffffde;
            margin-bottom: 10px;
        }

        .textfield > input::placeholder, .textfield > textarea::placeholder {
            color: #f0ffff94;
        }

        .btn-submit {
            width: 100%;
            padding: 16px 0px;
            margin: 25px 0;
            border: none;
            border-radius: 8px;
            outline: none;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 3px;
            color: #2b134b;
            background: #00ff88;
            cursor: pointer;
            box-shadow: 0px 10px 40px -12px #00ff8852;
            transition: background-color 0.3s;
        }

        .btn-submit:hover {
            background-color: #77ffc0;
        }
        
        /* Home Page */
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        .header-left, .header-right {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .header-right{
            margin-left: auto;
        }
        
        .logo {
            font-size: 2rem;
            color: #00ff88;
        }
        
        .search-bar {
            display: flex;
            gap: 10px;
        }
        
        .search-bar input {
            padding: 8px;
            border-radius: 8px;
            border: none;
            background-color: #514869;
            color: #f0ffffde;
        }
        
        .search-bar button {
            padding: 8px 12px;
            border-radius: 8px;
            border: none;
            background-color: #00ff88;
            cursor: pointer;
        }
        
        .header-subtitle {
            text-align: center;
            margin-bottom: 40px;
            color: #77ffc0;
        }

        #donate-btn {
            background-color: #514869;
            color: #f0ffffde;
            font-size: 15px;
            padding: 7px 10px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        #donate-btn:hover {
            background-color: #6a6087;
        }
        
        .book-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
            justify-items: center;
        }
        
        .book-card {
            background-color: #2f2841;
            padding: 15px;
            border-radius: 12px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            text-align: center;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
            max-width: 220px;
        }
        
        .book-card:hover {
            transform: scale(1.05);
        }
        
        .book-card img {
            width: 100%;
            max-height: 280px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 15px;
        }
        
        .book-card h3 {
            color: #00ff88;
            font-size: 1.1rem;
            margin-bottom: 5px;
        }
        
        .book-card p {
            color: #f0ffff94;
            font-size: 0.9rem;
        }

        /* Página de detalhes */
        .book-details-container, .donate-form-container {
            background: #2f2841;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 10px 40px rgba(0,0,0,0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 700px;
            margin: 40px auto;
        }

        .donate-form-container {
            max-width: 500px;
        }
        
        .book-details-container img {
            max-width: 220px;
            margin-bottom: 20px;
            border-radius: 8px;
        }
        
        .book-details-container h1 {
            color: #00ff88;
            margin-bottom: 10px;
        }
        
        .book-details-container .author {
            font-style: italic;
            margin-bottom: 20px;
        }
        
        .book-details-container .description {
            margin-bottom: 20px;
            line-height: 1.6;
        }
        
        .details-buttons {
            display: flex;
            gap: 15px;
            margin-top: 20px;
        }
        
        .details-buttons button {
            padding: 12px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        .details-buttons button:first-of-type {
            background-color: #00ff88;
            color: #2b134b;
            transition: background-color 0.3s;
        }
        
        .details-buttons button:first-of-type:hover {
            background-color: #77ffc0;
        }
        
        .back-button, .back-button2 {
            font-size: 16px;
            position: absolute;
            top: 20px;
            left: 20px;
            padding: 10px 17px;
            background-color: #2f2841;
            color: #f0ffffde;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .back-button2 {
            top: 12.5%;
        }
        
        .back-button:hover {
            background-color: #43395c;
        }

        /* Responsividade */
        @media only screen and (max-width: 950px) {
            .card-form {
                width: 85%;
            }
        }

        @media only screen and (max-width: 600px) {
            .login-register-view {
                flex-direction: column;
            }

            .left-side > h1 {
                display: none;
            }

            .left-side {
                width: 100%;
                height: auto;
            }

            .right-side {
                width: 100%;
                height: auto;
            }

            .left-side-img {
                width: 50vw;
            }

            .card-form {
                width: 90%;
            }

            .header {
                flex-direction: column;
                gap: 15px;
            }
            
            .header-right {
                flex-direction: column;
                width: 100%;
            }

            .search-bar {
                width: 100%;
            }
            .search-bar input, .search-bar button {
                width: 100%;
            }
        }
    