<h1>Adicionar Endereço</h1>

<form action="/address" method="POST" class="endereco-form">

    <label>Cidade:</label>
    <input type="text" name="cidade" required>

    <label>Bairro:</label>
    <input type="text" name="bairro" required>

    <label>CEP:</label>
    <input type="text" name="cep" required>

    <label>Informações Adicionais:</label>
    <textarea name="info" rows="3"></textarea>

    <button type="submit">Salvar Endereço</button>
</form>